/*background color for website*/
body html {
  background: #1e1c11;
  margin: auto;
  overflow:hidden;
}

/*Responsive Viewport code. Designed to replace the viewport meta tag in HTML*/
@viewport{
    zoom: 1.0;
    width: extend-to-zoom;
}


/*main header at the top of the page*/
#header {
height: 200px;
width: 500px;
border: solid;
border-color: #8c7b22;
border-radius: 5px;
border-width: 2px;
border-style: width;
}

/*generic color and font style for the text on the website*/
p {
color:#d4d5c8;
font-family: 'Source Code Pro', monospace;
font-size:18px;
}

h1, h2 {
  display:flex;
  color:#d4d5c8;
  font-family: 'Source Code Pro', monospace;
  margin:auto;
  justify-content: center;
}
.main {
  margin: auto;
  display: flex;
  justify-content:center;
}

/*Animated logo on page load
#mainLogo {
  position:inherit;
  width:80%;
  min-height:auto;
  z-index:300000;
  bottom:10px;
  left:10px;
  top: 100px;
  animation: fadeIn 15s;
  animation-timing-function: ease-in;
}*/


/*Animated logo on page load*/
#mainLogo {
  width: 80%;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 5%;
  animation: fadeIn 10s;
  animation-timing-function: ease-in;
  position: fixed;
  z-index:-1;
}


/*Keyframes animation that I originally wrote*/
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}

#strapline {
  margin: auto;
  justify-content: center;
  padding-top: 45%;
  animation: fadeIn 10s;
  animation-timing-function: ease-in;
  position: fixed;
  display: block;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 40%;
  z-index:-1;
}


@media only screen and (max-width: 300px) {
   h1 {
      font-size: 1em;
   }
   h2 {
      font-size: 1em;
   }

}


.background-images {
  color: #fffff;
  background-color: ffdf00;
  z-index:2;
  position: fixed;
  margin-right: 40%;
  height:20%;


}

/* ORIGINAL Navbar code

ul#sidenav {
    width: 7%;
    background-color: #13120b;
    position: fixed;
    height: 100%;
    overflow: auto;
    display:block;
    opacity: 1;
    margin-top: auto;
}

ul.sidenav li a {
    display: block;
    color: #ffffff;
    padding: 20px 16px;
    text-decoration: bold;
    border-bottom: 1px solid #555;
    animation-name: navAnimate;
    animation-duration: 5s;
}

@keyframes navAnimate {
  from {opacity:0;}
  to {opacity:1;}
}


ul.sidenav li a.active {
    background-color: #ffffff;
    color: black;
}

ul.sidenav li a:hover:not(.active) {
    background-color: #555;
    color: black;
}

div.content {
    margin-left: 25%;
    padding: 1px 16px;
    height: 1000px;
}

@media screen and (max-width: 900px) {
    ul.sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    ul.sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    ul.sidenav li a {
        text-align: center;
        float: none;
    }
}

*/

/*Exploring Container code for hover over on nav bar

/* ------------------ORIGINAL CODE FOR CONTAINER
.container {
  position: relative;
  width: 50%;
}

/*Altered container code to try and map it over the navbar
.container {
  padding: 0;
  width: 9%;
  position: fixed;
  height: 100%;
}

/*Altered container code to try and map it over the navbar

.overlay {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #605e53;
}

/* ------------------ORIGINAL CODE FOR OVERLAY

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 1;
  transition: .5s ease;
  background-color: #605e53;
}


.container:hover .overlay {
  opacity: 0;
}

.navbarOverlay {
  align-content: center;
  vertical-align: middle;
}
}

/*more test navbar with menu buttons instead*/
#container {
  width: 240px;
  position: relative;
  background: #fff;
  margin: 0 auto;
  padding: 40px;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 8px 2px #000;
}

#main_nav {
  display: none;
  position: relative;
  top: 0;
  left: 0;
  background: #13120b;
  width: 9%;

  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 8px 2px #000;
}

#main_nav:target {
  display: block;
}

.access_aid {
  display: block;
  position: inherit;
  top: 0;
  right: 0;
  width: 40px;
  height: 80px;
  padding-top: 40px;
  overflow: hidden;
  border: 2px solid #13120b;
  background: black 10px 10px / 20px 20px no-repeat;
}

#access_nav {
  background-image: -webkit-repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
  background-image: repeating-linear-gradient(#ccc, #ccc 2px, #fff 2px, #fff 4px);
}

#access_top {
  background-image: linear-gradient(45deg, transparent 13px, #ccc 13px, #ccc 15px, transparent 0), linear-gradient(-45deg, white 13px, #ccc 13px, #ccc 15px, white 0);
}

.closeMenu {
  position: absolute;
  right:50%;

}

#video-background {
  position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;

}

/*Video background code - original*/

.fullscreen-bg {
    position: fixed ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: none;
    z-index: -100;
}

.fullscreen-bg__video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
}

/*Font Awesome Navbar open and close button*/

.fa {
  display: block;
  position: fixed;
  color: white;
  font-size: 80px;
  transition:0.2s;
  padding-left: 1%;
  padding-top: 1%;
}

.fa-3x{
  display:flex;
  position: fixed;
  color: white;
  font-size: 80px;
}

.fa:hover {
  transform:scale(1.1);
  cursor: pointer;
}

.fa-3x:hover {
  transform:scale(1.1);
}

.fa-bars {
  align-content: stretch;
}

.fa-window-close {
  display:block;
  position: inherit;
}

/* ORIGINAL Main Content element for website*/

.mainContent {
  display: flex;
  flex-direction:column;
  align-self: center;
  background-color: #362d4b;
  width:100%;
  opacity: 1;
  z-index: inherit;
  margin-top: 80%;
  flex: 1 1 auto;
  /*height:1000px;*/
}

.imageBreak {
  max-width:100%;
  height:auto;
  display:block;
}

.playlist {
/*  display: flex;
  flex-direction:row;
  align-content: center;
  background-color: #1b1e27;
  width:100%;
  opacity: 1;
  z-index: inherit;
  flex: 1 1 auto; ORIGINAL CONTENT*/
  display: flex;
  flex-direction:column;
  align-self: center;
  background-color: #1b1e27;
  width:100%;
  opacity: 1;
  z-index: inherit;
  flex: 1 1 auto;

}

#playlistContent {
  flex-grow: 1;
  background-color: #1b1e27;
  width:100%;
  opacity: 1;
  z-index: inherit;
}

.contentText p {
  color: white;
}

/*Reset navbar from W3 schools*/


/*New Navbar from w3 schools*/

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0%; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   background-color: #13120b; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav li a{
   padding: 15px 15px 20px 20px;
   text-decoration: none;
   font-size: 25px;
   color: #fffff;
   transition: 0.3s;
   display:flex;
   align-items: center;
   justify-content: center;
   font-family: 'Source Code Pro', monospace;
}

/* When you mouse over the navigation links, change their color */
.sidenav li:hover, .offcanvas li:focus, a:visited{
   color: #f1f1f1;
   background-color:#2a4c5c;
}

/*.sidenav a {
  text-decoration: none;
  text-align: center;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 0px;
   font-size: 36px;
   margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s;
   padding: 20px;
}
/*TEST CODE FOR RESPONSIVE SIDENAV*/


@media screen and (max-width: 900px) {
    .sidenav {
        width: 100%;
        height: auto;
        position: relative;
    }
    .sidenav li a {
        float: left;
        padding: 15px;
    }
    div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
    .sidenav li a {
        text-align: center;
        float: none;
    }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

/* Set the width of the side navigation to 250px */
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}

.aboutUs {
  text-align: left;
  margin-left: 9%;
  margin-right:9%;
  z-index:5;
}

/*MORE PARALLAX TESTING

.parallax {
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}
.parallax__layer {
  position: absolute;
  top: 150%;
  right: 0;
  bottom: 0;
  left: 0;
}

.parallax__layer--bgroundImage {
  position: relative;
  top: 200%;
  right: 0%;
  bottom: 0;
  left: 0%;
}
.parallax__layer--base {
  transform: translateZ(0) scale(1.0);
}
.parallax__layer--back {
  transform: translateZ(-1px) scale(1.0);
}

#backgroundImageOne {
  margin:auto;
}

.parallax__group {
    position: relative;
    height: 100vh;
    transform-style: preserve-3d;
}

.title {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
}*/

.media {
/*  flex: 1;
  flex-grow: 3;*/
  display: flex;
  flex-direction: row;
  background-color: #1b1e27;
  width:100%;
  z-index: inherit;
}

.spotifyPlaylist:hover {
    transform:scale(1.3);
    transition-duration: 0.5s;
    cursor: pointer;
  }
}
