body {
    display: block;
    margin: auto;
}

/* The side navigation menu */
.sidenav {
   height: 100%; /* 100% Full-height */
   width: 0; /* 0 width - change this with JavaScript */
   position: fixed; /* Stay in place */
   z-index: 1; /* Stay on top */
   top: 0;
   left: 0;
   background-color: #111; /* Black*/
   overflow-x: hidden; /* Disable horizontal scroll */
   padding-top: 60px; /* Place content 60px from the top */
   transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
   padding: 8px 8px 8px 32px;
   text-decoration: none;
   font-size: 25px;
   color: #818181;
   display: block;
   transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
   color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
   position: absolute;
   top: 0;
   right: 25px;
   font-size: 36px;
   margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
   transition: margin-left .5s;
   /*padding: 20px;*/
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
   .sidenav {padding-top: 15px;}
   .sidenav a {font-size: 18px;}
}

#video-background {
  position: fixed;
right: 0;
bottom: 0;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;

}

.fullscreen-bg {
    position: fixed ;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: none;
    z-index: -100;
}

/*Animated logo on page load*/
#mainLogo {
  width: 80%;
  display: block;
  padding-left: 9.5%;
  transform: translate(-0%, -0%);
  padding-top: 2%;
  animation: fadeIn 10s;
  animation-timing-function: ease-in;
  position: relative;
  z-index:-1;
}


/*Keyframes animation that I originally wrote*/
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1;}
}

.straplineBox {
  display: flex;
  flex-direction:column;
  align-self: center;
  width:100%;
  opacity: 1;
  z-index: 2;
  margin-top: 2%;
  flex: 1 1 auto;

}
#strapline {
  color: #ffffff;
  animation: fadeIn 10s;
  animation-timing-function: ease-in;
  z-index:-1;
}

.anchorButton a {
  color:#ffffff;
  border-width: 2px;
  border-style: solid;
  font-family: 'Open Sans', monospace;
  text-align:center;
  display: block;
  font-size:2em;
  transition-duration: 0.4s;
  cursor:pointer;
  border-radius:5px;
  padding: 15px;
  margin-top: 5%;
  width:15%;
  position: relative;
  z-index:1;
  left: 50%;
  transform: translateX(-50%);
  animation: fadeIn 10s;
  animation-timing-function: ease-in;
}

.mainContent {
  display: flex;
  flex-direction:column;
  align-self: center;
  background-color: #211d2d;
  width:100%;
  opacity: 1;
  z-index: 2;
  margin-top: 80%;
  flex: 1 1 auto;
  /*height:1000px;*/
}

.contentPane {
    width: 60%;
    height: auto;
    flex-wrap:wrap;
    border-width: thin;
    border-style: dotted;
    border-color: white;
    border-radius: 5px;
    align-self: center;
    margin-top: 20px;
    background-color: #e0e0e0;
    padding-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 5px #888888;
  }

  .aboutUs {
    text-align: left;
    margin-left: 9%;
    margin-right:9%;
    z-index:2;
  }

  .aboutUs li h2{
    text-align: left;
  }

  .anchorButton1 a {
    color:#ffffff;
    border-width: 2px;
    border-style: solid;
    font-family: 'Open Sans', monospace;
    text-align:center;
    display: block;
    font-size:2em;
    transition-duration: 0.4s;
    cursor:pointer;

    border-radius:5px;
    padding: 15px;
    width:15%;
    position: relative;
    z-index:5;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 2%;
  }

  .imageBreak {
    max-width:100%;
    height:auto;
    display:block;
    z-index: 2;
  }

  .playlist {
  /*  display: flex;
    flex-direction:row;
    align-content: center;
    background-color: #1b1e27;
    width:100%;
    opacity: 1;
    z-index: inherit;
    flex: 1 1 auto; ORIGINAL CONTENT*/
    display: flex;
    flex-direction:column;
    align-self: center;
    background-color: #1b1e27;
    width:100%;
    opacity: 1;
    z-index: 2;
    flex: 1 1 auto;

  }

  .contentHeader1 {
    display:flex;
    color:#2c2d23;
    font-family: 'Open Sans', monospace;
    margin:auto;
    justify-content: center;
  }

.contentHeader2 {
    display:flex;
    color:#2c2d23;
    font-family: 'Open Sans', monospace;
    margin:auto;
    justify-content: center;
  }

  .contentText {
  color:#2c2d23;
  font-family: 'Open Sans', monospace;
  font-size:18px;
  z-index: 2;
  }

  p {
  color:#2c2d23;
  font-family: 'Open Sans', monospace;
  font-size:18px;
  z-index: 2;
  }

  #bandBio {
    display: flex;
    flex-direction: column;
    width: 40%;
    padding:1%;
    align-items: flex-start;
    margin-bottom: 2%;
    line-height: 1.8;
  }
