body {
    display: block;
    margin: auto;
}

#l3 {
opacity: 0;
}

#l3:target {
animation: fadeIn 2s;
animation-timing-function: ease-in;
animation-fill-mode: forwards;
position: relative;
z-index:-1;

}

/*Keyframes animation that I originally wrote*/
@keyframes fadeIn {
from {opacity: 0;}
to {opacity:1;}
}

.moodbox {
    width: 100px;
    height: 100px;
    background-color: red;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: example;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}

/* Standard syntax */
@keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
}


/* CSS GRID TEST */
.wrapper {
  display: grid;
  grid-template-columns: [col1-start] 100%;
  grid-template-rows: [row1-start] auto [row2-start] auto [row2-end];
  color: #444;
  background-image: url("images/image1.jpg");
}

.contentleft {
  height:800px;
  width: 1000px;
  background: #7c2323;
  background: linear-gradient(304deg,#7c2323 50%, rgba(0,255,0,0) 20%);
  background: -webkit-linear-gradient(304deg,#7c2323 50%, rgba(0,255,0,0) 20%);
  background: -moz-linear-gradient(304deg,#7c2323 50%, rgba(0,255,0,0) 20%);
}

.imageBreak {
  max-width:100%;
  height:auto;
  display:block;
  z-index: 2;
}



/*
.box {
  background-color: #444;
  color: #fff;
  font-size: 150%;

}
#bandlogo {
  height:inherit;
  width: inherit;
}

.a {
  grid-row: row1-start ;
}
.b {

}

.boxa {
  border-left: 255px solid #555;
  border-right: 15px solid transparent;
  border-top: 50px solid #555;
  width: 100px;
height: 200px;
background-color: #555;



}
/*
.boxb {
  background-color: #fff;

}

.contentleft {
	width: 0;
	height: 0;
	border-left: 255px solid #555;
	border-right: 15px solid transparent;
	border-top: 50px solid #555;
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));

End Color
background: #7c2323;
background: linear-gradient(129deg,#7c2323 50%, rgba(0,255,0,0) 20%);
}
}

.image {
   position: relative;
   width: 100%; /* for IE 6
}

h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
   linear-gradient: contentleft;
}


.module {
  background-image: url("images/image1.jpg");
  background: grad
}

.main-header {
padding-top: 170px;
height: 850px;
background: linear-gradient(-50deg, #004092, #020202, transparent), url("images/image1.jpg") no-repeat center;
background-size: cover;
box-shadow: 0px 10px 20px -5px rgba(0,0,0,.8);
}
