body {
  height:auto;
  width: auto;
}
.container{
  max-height: 100%;
  max-width: 100%;
}

.shaped::before{
    float:left;
    height:100vh;
    width:40vw;
    float:right;
    background: black url("images/image1.jpg") center top no-repeat;
    background-size:cover; /*
    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 20% 100%);
clip-path: polygon(50% 0, 100% 0, 100% 100%, 20% 100%);
shape-outside: polygon(50% 0, 100% 0, 100% 100%, 20% 100%);
mozwebkit-shape-outside: polygon(50% 0, 100% 0, 100% 100%, 20% 100%); */
shape-margin: 20px;
background-attachment: fixed;
background-position: right;
}

.content {
  max-height: 943px;
  max-width: 100%;
  color: white;
  background-color: #1b1e27;
  padding-left: 2%;
  overflow-y: scroll;
  direction: rtl;
}

.content p {
  color: white;
  background-color: #1b1e27;
  padding-left: 2%;
  direction: ltr;
}

/*Added in to defeat user agent stylesheet.*/
.content h1 {
  margin-top:0%;
  padding-left: 2%
}

.show-dates::before {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  background-image: url("images/image1.jpg");
  background-position: 50% 5%;
  background-size: cover;
  transition: all .6s;
}

.show-dates:hover::before {
  filter: blur(5px);
  opacity: 1;
}

.show-dates:hover a {
  filter: none;
}
